@model PontoSync.Models.MarcacaoFrequencia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MarcacaoFrequencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MatServidor" class="control-label"></label>
                <input asp-for="MatServidor" class="form-control" />
                <span asp-validation-for="MatServidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataMarcacao" class="control-label"></label>
                <input asp-for="DataMarcacao" class="form-control" />
                <span asp-validation-for="DataMarcacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraMarcacao" class="control-label"></label>
                <input asp-for="HoraMarcacao" class="form-control" />
                <span asp-validation-for="HoraMarcacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dispositivo" class="control-label"></label>
                <input asp-for="Dispositivo" class="form-control" />
                <span asp-validation-for="Dispositivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusMarcacao" class="control-label"></label>
                <input asp-for="StatusMarcacao" class="form-control" />
                <span asp-validation-for="StatusMarcacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoOrigem" class="control-label"></label>
                <input asp-for="TipoOrigem" class="form-control" />
                <span asp-validation-for="TipoOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sq_Importacao" class="control-label"></label>
                <input asp-for="Sq_Importacao" class="form-control" />
                <span asp-validation-for="Sq_Importacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
